.footer-container,
.footer-container .top {
    width: 100%;
    position: relative;
}

.footer-container {
    float: left;
    clear: both;
    z-index: 5;
    margin-top: 6rem;
    z-index: -1;
}

.footer-container .top {
    height: 1px;
}

.footer-container .top:after,
.footer-container .top:before {
    content: "";
    position: absolute;
    background-color: #0003;
    top: 0;
    bottom: 0;
}
.footer-container .top:before{
    width: 110px;
    right: 0;
}
.footer-container .top:after{
    left: 0;
    right: 220px;
}
.to-top {
    position: absolute;
    width: 21px;
    height: 26px;
    display: block;
    right: 154px;
    top: 50%;
    margin-top: -13px;
    cursor: pointer;
}

.to-top span {
    display: block;
    background-color: #888;
    width: 1px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .3s ease;
}
.to-top span:after, .to-top span:before {
    display: block;
    background-color: inherit;
    width: 14px;
    height: 1px;
    content: "";
    position: absolute;
    top: 1px;
    margin-top: 4px;
}
.to-top span:before {
    right: -1px;
    transform: rotate(
-45deg);
}
.to-top span:after {
    left: -1px;
    transform: rotate(
45deg);
}
section.footer {
    width: 100%;
}

section.footer .bottom {
    padding: 3.8rem 12%;
}
.to-top:after{
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    background-color: transparent;
    border: 1px solid #0003;
    transition: all .3s ease;
}
.to-top:hover:after{
    border-color:#987750;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
}
section.footer .bottom p span {
    display: block;
}
@media(max-width:767px){
    section.footer .bottom{
        padding: 3rem 5%;
    }
    section.footer .top:before {
    width: 55px;
}
section.footer .top:after {
    right: 130px;
}
section.footer .to-top{right: 80px;}
}