@font-face {
  font-family:Jost;
  src: url(../src/fonts/Jost-Regular.ttf);
  font-display: swap;
  font-weight:400;
}
@font-face {
  font-family:Jost;
  src: url(../src/fonts/Jost-Medium.ttf);
  font-display: swap;
  font-weight:600;
}
*{
  margin: 0;
  font-family: Jost,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
  appearance: none;
  scroll-behavior: smooth;
}

:root{
  --color-primary :#987750 ;
  --color-grey: #888888;
}

h1,h2,h3,h4,h5{
  font-family: Jost,sans-serif;
  font-weight:700;
}
 img{
   max-width:100%;
   width:100%;
   vertical-align: middle;
 }
 p{
   color:#777;
   font-size: 1.15rem;
   font-family: Jost;
   line-height:1.4;
 }
 section {
  display: block;
  float: left;
  clear: both;
}